## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
**/[Bb]in/
**/[Oo]bj/
[Ll]og/
[Ll]ogs/

## IDE
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## Secrets
appsettings.Development.json
appsettings.*.json
!appsettings.json
.env
*.env
